/validator_reports/**
/validator_config/fhir_assets/NHSD.Assets.STU3_1.6.0/**
/transmitter_source/**
/transmitter_sent_messages/**
/simulator_saved_messages/**
/messages_for_validation/**
/logs/**
/all_evidence/**
/certs/**
/autotest_config/autotest_logs
/autotest_config/auto_tests
/autotest_config/endpoint_configs
version_string.txt
push_provider_simulator_to_dockerhub.sh
TKWAutotestManager.jar
TKWPropertiesEditor.jar

